{
  "parser": "vue-eslint-parser",
  "plugins": ["only-warn"],
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "prettier"],
  "rules": {
    "vue/html-self-closing": ["warn", { "html": { "void": "always" } }]
  }
}
